.david-libre-regular {
    font-family: "David Libre", serif;
    font-weight: 400;
    font-style: normal;
}

.david-libre-medium {
    font-family: "David Libre", serif;
    font-weight: 500;
    font-style: normal;
}

.david-libre-bold {
    font-family: "David Libre", serif;
    font-weight: 700;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 1512px;
    padding: 24px;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 424px;
}
.menu-item {
    font-size: 16px;
    font-weight: 400;
    color:#101A24
}

.booking {
    font-family: "David Libre", serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    background-color: #ea6d27;
    border-radius: 16px 4px 16px 4px;
    width: 167px;
    height: 64px;
    font-size: 20px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    font-family: "David Libre", serif;
    text-decoration: bold;
    font-size: 50px;
}

.booking:hover {
    background-color: #d65c1f;
    transition: background-color 1s ease;
}

.intro {
    font-family: "Inter", sans-serif;
    color: #5C6574;
    font-size: 16px;
    width: 376px;
    height: 115px;
    line-height: 29px;
}

.dishes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.dish {
    width: 265px;
    height: 309px;
}

.dish-title {
    font-family: "David Libre", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #101A24;
    line-height: 26px;
}

.dish-description {
    font-family: "Inter", sans-serif;
    color: #5C6574;
    font-size: 15px;
    line-height: 26px;
}

.dishes-title {
    font-family: "David Libre", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #101A24;
    line-height: 65px;
    margin-bottom: 16px;
}

.dishes-intro {
    font-family: "Inter", sans-serif;
    color: #5C6574;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    max-width: 400px;
    margin-bottom: 32px;
}

.dishes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}