.david-libre-regular {
    font-family: "David Libre", serif;
    font-weight: 400;
    font-style: normal;
}

.david-libre-medium {
    font-family: "David Libre", serif;
    font-weight: 500;
    font-style: normal;
}

.david-libre-bold {
    font-family: "David Libre", serif;
    font-weight: 700;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 1512px;
    padding: 24px;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 424px;
}
.menu-item {
    font-size: 16px;
    font-weight: 400;
    color:#101A24
}

.booking:hover {
    font-family: "David Libre", serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    background-color: #ea6d27;
    border-radius: 16px 4px 16px 4px;
    width: 167px;
    height: 64px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    font-family: "David Libre", serif;
    text-decoration: bold;
    font-size: 50px;
}